.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 1rem;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-between;
    width: 50%;
  }
  
  .nav-links li {
    list-style: none;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem;
    transition: all 0.3s ease;
  }
  
  .nav-links a:hover {
    background-color: #fff;
    color: #333;
  }
  
  .hamburger {
    display: none;
    cursor: pointer;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #fff;
    transition: all 0.3s ease;
  }
  
  @media (max-width: 768px) {
    .nav-links {
      position: absolute;
      right: 0;
      height: 92vh;
      top: 8vh;
      background-color: #333;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      transform: translateX(100%);
      transition: all 0.5s ease;
    }
  
    .nav-links li {
      opacity: 0;
    }
  
    .hamburger {
      display: block;
    }
  }
  
  .nav-active {
    transform: translateX(0);
  }
  
  .bar.rotate {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .bar.rotate:nth-child(2) {
    opacity: 0;
  }
  
  .bar.rotate:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  